* {
    box-sizing: border-box
}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* Full-width input fields */
input[type=text],
input[type=password],
input[type=name],
input[type=c-name],
input[type=branch],
input[type=year] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=name]:focus,
input[type=c-name]:focus,
input[type=branch]:focus,
input[type=year]:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}

/* Add a blue text color to links */
a {
    color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
    background-color: #f1f1f1;
    text-align: center;
}
*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto Condensed', sans-serif;
}

*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto Condensed', sans-serif;
}

/* navbar */

.navbar-nav{
	margin-right: 0 !important;
	padding-right: 100px;
}

.navbar{
	background-color: #0a193d;
	color: white !important;
}

.nav-item a{
	color: white !important;
}

.nav-item{
	padding-left: 3px;
}

.navbar-brand{
	color: white !important;
	padding-left: 3px;
}

#navbar button{
	color: white !important;
}

/* banner */

#banner-container{
	background-color: #0a193d;
	color: white !important;
	padding-top: 60px;
	padding-bottom: 80px;
	
}

#banner-row img{
	max-width: 70%;
	height: auto;
	display: block;
	padding-left: 30px;
}

#banner-row h3, p{
	padding-left: 30px;
  padding-top: 0px;
	text-align: center;
}

#banner-row a{
	background-color: white !important;
	color: black !important;
	margin-left: 20px;
	margin-top: 20px;
	
}
#banner-col{
	padding-left: 50px;
  
}
/* service */
#service{
	padding-top: 80px;
	padding-bottom: 80apx;
}

#service h1{
	padding-bottom: 80px;
}

/* about */

#about{
	padding-top: 10px;
	padding-bottom: 50px;
}

#about h1{
	padding-bottom: 10px;
}

#about-col ul{
	padding-top: 40px;
	padding-left: 50px;
}

#about-col ul li{
	padding-top: 15px;
	
}

/* product */

#product{
	padding-top: 80px;
	padding-bottom: 80px;
}

#product h1{
	padding-bottom: 20px;
}

#product-col2 ul{
	padding-top: 40px;
}

#product-col2{
	padding-top: 10px;
	padding-right: 20px;
}


/* social */

#social{
	padding-top: 80px;
	padding-bottom: 80px;
}

#social h1{
	padding-bottom: 70px;
}

.social-col a:hover img{
transform: translateY(-10px);
}

#social-row{
	flex-direction: row;
}

/* footer */

.mb-3{
padding-top: 10px;
}


/* media */
@media only screen and (max-width: 987px){
	.navbar-brand{
		padding-left: 0px;
	}
}

@media only screen and (max-width: 768px){
	#banner-row img{
		padding-top: 20px;
	}

.social-col{
	width: 33%;
}

}
